{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">BooKings</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Book now!</a>
  </p>
</div>
<h3>tech list</h3>
{% for t in tech %}
  <h3>{{ t.category.category_name }}</h3>
  {% for n in t.members.all %}
    {{ n }} <br>
    {% for i in n.techmembership_set.all %}
      {{ i.timestamp|date }} <br>
    {% endfor %}
  {% endfor %}
{% endfor %}
<!-- {{ tech }} -->
{% endblock %}